In [12]:
import numpy as np
import random
import pandas as pd

In [17]:
data = np.genfromtxt('XRayPeptide2.csv', delimiter=',', dtype='str')

In [18]:
len(data)

143187

In [19]:
sample = random.sample(list(data), 3000)

In [24]:
sample_df = pd.DataFrame(sample)
sample_df.head()

       0
0   4UW5
1   1EMB
2   1B4F
3   4U0F
4   1UPS

In [25]:
sample_df.to_csv('Sample_3000.csv', index = False)